h1#homeTitle{
  padding-top: 10%;
  font-size: 100px;
  margin-bottom: 0px;
  text-align: center;
}
aside#subtitle{
  text-align: center;
  font-size: 40px;
}
aside#quote{
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
}